<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titleForPage %></title>
    <link rel="stylesheet" href="<%= css_styles %>">
</head>
<body>
    <%- include('partials/header') %>
    <src 
    <p>
        <%= username ? username : "Guest" %>
    </p>
    <p><%= cheers %></p>
    <p>This is the home page rendered using EJS.</p>
    <a href="/about">Go to About Page</a>
</body>
</html>